<p class="display-1 text-info text-center">Technologies</p>
<!-- links for children -->
<ul class="nav justify-content-center nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink="react">ReactJS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="angular">Angular</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="vue">Vue</a>
    </li>
   
  </ul>

  <!-- placeholder for children of technologies component -->
  <router-outlet></router-outlet>
 